.widget {
	position: sticky;
	top: 80px;
	background-color: #fff;
	flex: 0.2;
	border-radius: 10px;
	height: fit-content;
	border: 1px solid lightgray;
	padding-bottom: 10px;

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px;

		h2 {
			font-size: 16px;
			font-weight: 400;
		}
	}

	&__article {
		display: flex;
		padding: 10px;
		cursor: pointer;
		transition: all 0.3s;

		&:hover {
			background-color: whitesmoke;
		}

		&--left {
			color: #0177b7;
			margin-right: 5px;

			.MuiSvgIcon-root {
				font-size: 15px;
			}
		}

		&--right {
			flex: 1;

			h4 {
				font-size: 14px;
			}

			p {
				font-size: 12px;
				color: gray;
			}
		}
	}
}
